<div class="sidebar">
  <div class="menu-section">
    <p class="menu-title">NAVIGATION</p>
    <a class="menu-item" routerLink="/dashboard"      routerLinkActive="active">
      <mat-icon>dashboard</mat-icon><span>Tableau de bord</span>
    </a>
    <a class="menu-item" routerLink="/etudiants"      routerLinkActive="active">
      <mat-icon>school</mat-icon><span>Étudiants</span>
    </a>
    <a class="menu-item" routerLink="/formateurs"     routerLinkActive="active">
      <mat-icon>person</mat-icon><span>Formateurs</span>
    </a>
    <a class="menu-item" routerLink="/formations"     routerLinkActive="active">
      <mat-icon>book</mat-icon><span>Formations</span>
    </a>
    <a class="menu-item" routerLink="/documents"      routerLinkActive="active">
      <mat-icon>description</mat-icon><span>Documents</span>
    </a>
    <a class="menu-item" routerLink="/comptes-rendus" routerLinkActive="active">
      <mat-icon>assignment</mat-icon><span>Comptes Rendus</span>
    </a>
    <a class="menu-item" routerLink="/insertion"      routerLinkActive="active">
      <mat-icon>work</mat-icon><span>Insertion Pro</span>
    </a>
    <a class="menu-item" routerLink="/utilisateurs"   routerLinkActive="active">
      <mat-icon>manage_accounts</mat-icon><span>Utilisateurs</span>
    </a>

  </div>
</div>
